DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=traqer_db
DB_USER=postgres
DB_PASSWORD=your_password_here

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

MAX_CONCURRENT_WORKERS=5
PROFILE_TTL_MINUTES=45
PROXY_LIST=ip:port:user:pass,ip:port:user:pass